{
    "env": {
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:import/recommended",
        "airbnb-base"
    ],
    "overrides": [
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "linebreak-style": ["error", "windows"],
        "import/extensions": [2, {"ts": "always"}],
        "import/no-unresolved": [0],
        "import/prefer-default-export": [0],

        "import/order": [
            2,
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "index",
                    "object",
                    "type",
                    ["parent", "sibling"]
                ],
                "pathGroups": [
                    {
                        "pattern": ".*/global/config",
                        "group": "builtin"
                    }
                ]
            }
        ]
    }
}
